.cardItem {
  display: flex;
  gap: 48px;

  padding: 24px;

  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  border-radius: 24px;
}

.avatar {
  width: 96px;
  height: 96px;
  padding: 12px;

  border-radius: 50%;
}

.yellowBorder {
  border: 3px solid var(--secondary-yellow-color);
}

.greenBorder {
  border: 3px solid var(--secondary-green-color);
}

.blueBorder {
  border: 3px solid var(--secondary-blue-color);
}

.pinkBorder {
  border: 3px solid var(--secondary-pink-color);
}

.peachBorder {
  border: 3px solid var(--secondary-peach-color);
}

.rightSideWrapper {
  position: relative;

  width: 100%;
}

.levelList {
  display: flex;
  gap: 8px;

  font-size: 14px;
  font-weight: 500;
}

.levelItem {
  padding: 8px 12px;

  border-radius: 35px;
  border: 1px solid var(--border-color);
}

.subtitleText {
  color: var(--subtitle-card-color);

  margin-bottom: 8px;
}

.subtitleText:first-of-type {
  margin-bottom: 32px;
}

.subtitleText.last {
  margin-bottom: 16px;
}

.name {
  display: block;

  margin-top: 8px;

  color: var(--primary-black-color);

  font-size: 24px;
  line-height: 1;
}

.aboutText {
  color: var(--primary-black-color);

  text-decoration: underline;
}

.subtitleText:nth-child(n + 3) .aboutText {
  text-decoration: none;
}

.moreBtn {
  display: inline-block;

  position: relative;

  margin: 0 0 32px 0;
  padding: 0;

  background: transparent;
  color: var(--primary-black-color);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  border: none;
}

.moreBtn::before {
  content: "";

  display: block;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 1px;

  background-color: var(--primary-black-color);

  transition: width 250ms ease-in-out;
}

.moreBtn::after {
  content: "";

  display: block;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 1px;

  background-color: var(--primary-black-color);

  transition: width 250ms ease-in-out;
}

.moreBtn:hover::before,
.moreBtn:hover::after {
  width: 0;
}

.extaInfoWrapper {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  gap: 32px;
}

.extraText {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-weight: 600;

  color: var(--accent-price-color);
}

.favBtn {
  display: flex;

  background: transparent;

  border: none;
}

.favBtn:hover,
.favBtn:focus {
  animation-name: pulse;
  animation-duration: 1250ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }
}

.experience {
  margin-bottom: 32px;

  font-weight: 400;
}

.reviewList {
  font-weight: 500;
}

.reviewItem {
  margin-bottom: 32px;
}

.reviewName {
  margin-bottom: 2px;

  color: var(--subtitle-card-color);

  font-size: 16px;
  line-height: 1.7;
}

.reviewRating {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;

  margin-bottom: 16px;

  font-size: 14px;
  line-height: 1;
}
