:root {
  --primary-black-color: #121417;
  --secondary-black-color: #121417b3;
  --primary-white-color: #ffffff;
  --primary-yellow-color: #f4c550;
  --secondary-yellow-color: #fbe9ba;
  --primary-green-color: #9fbaae;
  --secondary-green-color: #cbded3;
  --primary-blue-color: #9fb7ce;
  --secondary-blue-color: #bfd6ea;
  --primary-pink-color: #e0a39a;
  --secondary-pink-color: #f2c0bd;
  --primary-peach-color: #f0aa8d;
  --secondary-peach-color: #f4c8ba;
  --gray-bg-color: #f8f8f8;
  --border-color: #12141733;
  --subtitle-card-color: #8a8a89;
  --accent-price-color: #38cd3e;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  min-width: 320px;
  height: 100%;
}

body {
  height: 100%;
  color: var(--primary-black-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;

  padding: 0 16px;
}

@media screen and (max-width: 390px) {
  .container {
    min-width: 320px;
    max-width: 390px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;

    padding: 0 64px;
  }
}

.centeredWrapper {
  display: flex;
  justify-content: center;

  width: 100%;

  padding-top: 24px;
  padding-bottom: 24px;
}
