.header {
  position: relative;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.containerHeader {
  position: relative;
  z-index: 10;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-white-color);
}

@media screen and (min-width: 1440px) {
  .containerHeader {
    justify-content: space-evenly;
    align-items: center;
  }
}

.logoWrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.nav {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav {
    display: block;
  }
}

.navList {
  display: inline-flex;
  gap: 28px;
}

.navLink {
  display: inline-block;
  padding: 34px 0;

  transition: color 250ms ease-in-out;
}

.navLink:hover,
.navLink:focus {
  color: var(--secondary-black-color);
}

.authBox {
  display: none;
}

@media screen and (min-width: 1440px) {
  .authBox {
    display: block;
  }
}

.menuBtn {
  background: transparent;

  border: none;

  padding: 16px 0;
}

@media screen and (min-width: 1440px) {
  .menuBtn {
    display: none;
  }
}

.themeWrapper {
  display: none;
}

@media screen and (min-width: 1440px) {
  .themeWrapper {
    display: block;
  }
}
