.cardItem {
  display: flex;
  gap: 48px;

  padding: 24px;

  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  border-radius: 24px;
}

.avatar {
  width: 96px;
  height: 96px;
  padding: 12px;

  border-radius: 50%;
}

.yellowBorder {
  border: 3px solid var(--secondary-yellow-color);
}

.greenBorder {
  border: 3px solid var(--secondary-green-color);
}

.blueBorder {
  border: 3px solid var(--secondary-blue-color);
}

.pinkBorder {
  border: 3px solid var(--secondary-pink-color);
}

.peachBorder {
  border: 3px solid var(--secondary-peach-color);
}

.rightSideWrapper {
  position: relative;

  width: 100%;
}

.levelList {
  display: flex;
  gap: 8px;

  font-size: 14px;
  font-weight: 500;
}

.levelItem {
  padding: 8px 12px;

  border-radius: 35px;
  border: 1px solid var(--border-color);
}

.subtitleText {
  color: var(--subtitle-card-color);

  margin-bottom: 8px;
}

.subtitleText:first-of-type {
  margin-bottom: 32px;
}

.subtitleText:last-of-type {
  margin-bottom: 16px;
}

.name {
  display: block;

  margin-top: 8px;

  color: var(--primary-black-color);

  font-size: 24px;
  line-height: 1;
}

.aboutText {
  color: var(--primary-black-color);

  text-decoration: underline;
}

.subtitleText:nth-child(n + 3) .aboutText {
  text-decoration: none;
}

.moreBtn {
  margin: 0 0 32px 0;
  padding: 0;

  background: transparent;
  color: var(--primary-black-color);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;

  border: none;
}

.extaInfoWrapper {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  gap: 32px;
}

.extraText {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-weight: 600;

  color: var(--accent-price-color);
}

.favBtn {
  display: flex;

  background: transparent;

  border: none;
}
