.containerHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logoWrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.navList {
  display: inline-flex;
  gap: 28px;
}

.navLink {
  display: inline-block;
  padding: 34px 0;

  transition: color 250ms ease-in-out;
}

.navLink:hover,
.navLink:focus {
  color: var(--secondary-black-color);
}

.authList {
  display: inline-flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
}

.loginLink {
  width: 81px;

  display: inline-flex;
  justify-content: flex-end;
  gap: 16px;

  transition: gap 250ms ease-in-out;
}

.loginLink:hover,
.loginLink:focus {
  gap: 8px;
}

.registerLink {
  padding: 14px 39px;

  background-color: var(--primary-black-color);
  color: var(--primary-white-color);

  border-radius: 12px;

  transition: background-color 250ms ease-in-out,
    border-radius 250ms ease-in-out;
}

.registerLink:hover,
.registerLink:focus {
  background-color: var(--secondary-black-color);

  border-radius: 24px;
}
